<h1>Nueva Compra</h1>

<br>
<br>

    <%= form_with(model: Sale.new, local: true) do |f| %>

    <div class="form-group">
      <%= f.label :cod %>
      <%= f.number_field :cod, id: :cod %>
    </div>
    <div class="form-group">
      <%= f.label :detail %>
      <%= f.text_area :detail, id: :detail %>
    </div>
    <div class="form-group">
      <%= f.label :category %>
      <%= f.number_field :category, id: :category %>
    </div>
    <div class="form-group">
      <%= f.label :value %>
      <%= f.number_field :value, id: :value %>
    </div>
    <div class="form-group">
      <%= f.label :discount %>
      <%= f.number_field :discount, id: :discount %>
    </div>
    <div class="form-group form-check">
      <%= f.label :tax %>
      <%= f.check_box :tax, id: :tax %>
    </div>
    <%= f.submit "Crear", class:"btn btn-info" %>
    <%end%>
